@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body{
  background-color: #f8f8fa;
}

.nav{
  padding: 0 5%;
  height: 15vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #4617fe;
}

.nav-logo{
  height: 40px;
}

.list{
  display: flex;
  gap: 45px;
}

#sign-up{
  font-size: 16px;
  padding: 3px 10px;
  color: #4617fe;
  background-color: #fff;
  border-radius: 5px;
}

.item{
  text-decoration: none;
  text-transform: capitalize;
  font-size: 18px;
  color: #fff;
}

.nav-search{
  margin-top: 7.5px;
  transform: scale(1.5);
}

.hero-section{
  padding-left: 5%;
  display: flex;
  justify-content: space-between;
  background-color: #4617fe;
}

.hero-banner{
  max-height: 500px;
  width: 50%;
}

.hero-content{
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: #fff;
  margin-top: 60px;
}

.header-content-img{
  align-self: flex-start;
}

.hero-content > h1{
  font-size: 40px;
  font-weight: 500;
}

.company-section{
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 30px;
}

.company-section > p{
  font-size: 25px;
  font-weight: 700;
}

.blog-section{
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.blog-section > h1{
  font-size: 50px;
  font-weight: 500;
  line-height: 50px;
}

.card-section{
  display: flex;
  justify-content: space-around;
  margin-bottom: 50px;
}

.blog-card{
  height: 300px;
  width: 45%;
  display: flex;
  background-color: #fff;
  border-radius: 8px;
  border-top-left-radius: 50px;
  box-shadow: 0 0 10px 6px rgb(0 0 0 / 4%);
}

.blog-card-img{
  width: 50%;
}

.card-content{
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 5px;
  position: relative;
}

.card-content > p:first-child{
  font-size: 12px;
  color: #4617fe;
  font-weight: 600;
}

.card-content > h3{
  font-weight: 600
}

.card-content > p{
  font-size: 15px;
}

.card-content > p:nth-child(3){
  font-weight: 500;
}

.content-bottom{
  display: flex;
  position: absolute;
  bottom: -20px;
}

.content-bottom > p{
  font-size: 13px;
  font-weight: 600;
  margin-top: 15px;
}

.circle{
  height: 60px;
  border: 3px solid #fff;
  border-radius: 50px;
}

.api-section{
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 0 5%;
  margin: 50px 0;
}

.api-section > h1{
  font-size: 50px;
  font-weight: 500;
  line-height: 50px;
}

.api-cards{
  display: flex;
}

.card{
  width: 20%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.api-cards > .card:first-child{
  border: 1px solid #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 4%);
  background-color: #fff;
  margin-right: 20px;
}

.api-cards > .card:first-child > h4{
  color: #4617fe;
}

.card > img{
  height: 50px;
  width: 50px;
}

.card > h4{
  font-size: 20px;
  font-weight: 500;
  text-transform: capitalize;
}

.card > p{
  font-size: 14px;
}

.arrow{
  height: 50px;
  width: 55px;
  border-radius: 50%;
  background-color: #4617fe;
  color: #fff;
  text-align: center;
  margin-top: 70px;
}

.arrow > p{
  font-size: 35px;
}

.question{
  display: flex;
  gap: 10px;
  justify-content: space-between;
  background-color: #e9edff;
}

.question-left{
  padding: 20px 0;
  padding-left: 2%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
}

.question-left > h1{
  font-size: 50px;
  font-weight: 400;
  line-height: 50px;
}

.question-left > button{
  align-self: flex-start;
  text-transform: capitalize;
  border: none;
  font-size: 15px;
  padding: 10px 20px;
  background-color: #4617fe;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

.question-img{
  width: 50%;
}

.download-section{
  height: 300px;
  padding: 0 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.download-section > h1{
  font-size: 40px;
  text-transform: capitalize;
}

.download-right{
  width: 40%;
  height: 50px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e9edff;
  border-radius: 40px;
}

.download-right > p{
  font-size: 13px;
  color: #0d0d0d;
  padding-left: 20px;
}

.download-right > a{
  font-size: 14px;
  padding: 10px 30px;
  color: #fff;
  background-color: #4617fe;
  text-decoration: none;
  text-transform: capitalize;
  border-radius: 30px;
}

.footer-container{
  padding: 0 5%;
  height: 250px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #4617fe;
}

.footer-section-left, .footer-section-right{
  display: flex;
  flex-direction: column;
  gap: 20px
}

.footer-logo{
  width: 120px;
  height: 40px;
}

.footer-section-left > .list, .footer-section-right > .list{
  display: flex;
  gap: 30px;
}

.footer-section-left > .list > .item, .footer-section-right > .list > .item{
  padding-right: 15px;
  text-decoration: none;
  text-transform: capitalize;
  font-size: 13px;
  color: #fff;
  border-right: 1px solid #fff;
}

.footer-section-left > .list > .item:first-child, .footer-section-left > .list > .item:last-child, .footer-section-right > .list > .item:last-child{
  padding: 0;
  border: none;
}

.icons{
  display: flex;
  gap: 20px;
}

.menu-icon{
  display: none;
}

@media only screen and (max-width: 930px){

  br{
    display: none;
  }

  .nav{
    height: 64px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0 5%;
    z-index: 999;
  }

  .nav-logo{
    height: 30px;
  }

  .menu-icon{
    display: block;
    height: 30px;
  }

  .list{
    display: none;
  }

  .hero-section{
    flex-direction: column-reverse;
    padding: 50px 5% 50px 5%;
    margin-top: 20px;
  }

  .hero-content , .hero-banner{
    width: 100%;
  }

  .hero-content{
    margin-top: 0;
  }

  .hero-content > h1{
    font-size: 30px;
    text-align: center;
  }

  .hero-content > p{
    text-align: center;
  }

  .header-content-img{
    display: none;
  }

  .company-section > p{
    font-size: 12px;
  }

  .api-section{
    padding: 0 5%;
  }

  .api-section > h1{
    font-size: 40px;
    text-align: center;
    line-height: unset;
  }

  .api-cards{
    flex-direction: column;
    align-items: center;
    padding: 0;
    gap: 10px;
  }

  .api-cards > .card{
    width: auto;
    align-items: center;
    text-align: center;
    margin-right: 0;
  }

  .api-cards > .card:first-child{
    margin-right: 0;
  }

  .card-section{
    flex-direction: column;
    align-items: center;
    gap: 50px;
  }

  .blog-card{
    flex-direction: column;
    width: auto;
    height: auto;
    max-width: 400px;
    border-top-left-radius: 72px;
    padding-bottom: 10px;
  }

  .blog-card-img{
    width: auto;
  }

  .blog-section > h1{
    font-size: 40px;
    line-height: unset;
    text-align: center;
  }

  .content-bottom{
    display: none;
  }

  .question{
    height: auto;
    flex-direction: column-reverse;
  }

  .question-left{
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
  }

  .question-left > h1{
    font-size: 40px;
    line-height: unset;
  }

  .question-left > button{
    align-self: center;
  }

  .question-img{
    display: none;
  }

  .download-section{
    padding: 30px 0;
    height: auto;
    flex-direction: column;
    justify-content: unset;
    gap: 20px;
  }

  .download-section > h1{
    font-size: 30px;
    line-height: unset;
    text-align: center;
  }

  .download-right{
    width: auto;
    height: auto;
    padding: 5px;
    gap: 5px;
  }

  .download-right > p{
    font-size: 10px;
    padding: 0;
  }
 
  .download-right > a{
    font-size: 12px;
    padding: 5px 10px;
  }

  .footer-container{
    height: auto;
    gap: 40px;
    padding-top: 50px;
    padding-bottom: 50px;
    flex-direction: column;
  }

  .footer-section-left{
    width: 100%;
    align-items: center;
    gap: 30px;
  }

  .footer-section-left > .list{
    flex-direction: column;
  }

  .footer-section-left > .list > .item{
    padding-right: 0;
    border-right: none;
    text-align: center;
    font-size: 18px;
  }

  .footer-section-right{
    width: 100%;
    align-items: center;
  }

  .footer-section-right > .list > .item{
    font-size: 18px;
  }

}